name: merlin
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - cuda-toolkit=12.1
  - pip:
      - -r requirements.txt
      - -e .
